---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/337404/credits?api_key=<DONT_SHARE_MY_TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c23f5242c15bbf23aada2b2f764ee66cdce4b314
      X-Memc-Age:
      - '5473'
      X-Memc-Expires:
      - '9208'
      Etag:
      - W/"6dcecc109a22e997ed807a6a0946aee6"
    body:
      encoding: ASCII-8BIT
      string: '{"id":337404,"cast":[{"adult":false,"gender":1,"id":54693,"known_for_department":"Acting","name":"Emma
        Stone","original_name":"Emma Stone","popularity":8.963,"profile_path":"/cZ8a3QvAnj2cgcgVL6g4XaqPzpL.jpg","cast_id":0,"character":"Estella
        / Cruella","credit_id":"59a50d419251412f02004a64","order":0},{"adult":false,"gender":1,"id":7056,"known_for_department":"Acting","name":"Emma
        Thompson","original_name":"Emma Thompson","popularity":9.941,"profile_path":"/xr8Ki3CIqweWWqS5q0kUYdiK6oQ.jpg","cast_id":11,"character":"The
        Baroness","credit_id":"5d3f84f060b58d00106bb4b0","order":1},{"adult":false,"gender":2,"id":54811,"known_for_department":"Acting","name":"Joel
        Fry","original_name":"Joel Fry","popularity":10.154,"profile_path":"/4nEKEWJpaTHncCTv6zeP98V0qGI.jpg","cast_i[...]
