<%= button_to "Find Top Rated Movies",  movies_path, method: :get %>

<h2>OR</h2><br/>

<%= form_with url: discover_path, method: :post, local: true do |f| %>
  <%= f.text_field :query, label: "Search By Title" %><br/><br/>

  <%= f.submit 'Find Movies' %>
<% end %>
